<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">=
    <!-- imported CSS are concatenated and added automatically -->
    <link rel="stylesheet" href="jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Nunito">
    <link rel="shortcut icon" type="image/x-icon" href="https://idr.openmicroscopy.org/about/img/logos/favicon-idr.ico">

  </head>
  <body aurelia-app="main">
  </body>
</html>
